<div class="container">                  

    <button class="btn btn-success" (click)="addVaga()"> Nova Vaga </button>
    <table class="table table-striped table-hover">   
        <thead>
            <tr>
              <th>Id</th>  
              <th>Nome</th>
              <th>Status</th>
              <th></th>                    
            </tr>
        </thead>
        <tbody>  
            <tr *ngFor="let vaga of vagas">
              <td>{{vaga.id}}</td>
              <td>{{vaga.nome}}</td>
              <td>{{vaga.status}}</td>                     
              <td>          
                  <button type="button" class="btn btn-danger" (click)="deleteVaga(vaga)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>                                         
              </td>
              <td>
                  <button type="button" class="btn btn-success" (click)="editVaga(vaga)">                                    
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>                      
              </td>                  
            </tr>                   
        </tbody>
    </table>      

</div>