<div class="container">                  

    <button class="btn btn-success" (click)="addConfiguracao()"> Nova Configuracao </button>
    <table class="table table-striped table-hover">   
        <thead>
            <tr>
              <th>Id</th>  
              <th>Valor(RS)</th>
              <th>Data</th>                           
              <th></th>
            </tr>
        </thead>
        <tbody>  
            <tr *ngFor="let configuracao of configuracoes">
              <td>{{configuracao.id}}</td>
              <td>{{configuracao.valor}}</td>
              <td>{{configuracao.data}}</td>                         
              <td>          
                  <button type="button" class="btn btn-danger" (click)="deleteConfiguracao(configuracao)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>                                         
              </td>                  
            </tr>                   
        </tbody>
    </table>      

</div>