<div class="container">                  

    <button class="btn btn-success" (click)="addOcupacao()"> Nova Ocupacao </button>
    <table class="table table-striped table-hover">   
        <thead>
            <tr>
              <th>Id</th>  
              <th>Vaga</th>
              <th>NumPlaca</th>
              <th>Entrada</th>
              <th>Hora</th>
              <th></th>                    
              <th></th>
            </tr>
        </thead>
        <tbody>  
            <tr *ngFor="let ocupacao of ocupacoes">
              <td>{{ocupacao.id}}</td>
              <td>{{ocupacao.idvaga}}</td>
              <td>{{ocupacao.numplaca}}</td>
              <td>{{ocupacao.entrada}}</td>                     
              <td>{{ocupacao.hora}}</td>                                   
              <td>          
                  <button type="button" class="btn btn-danger" (click)="deleteOcupacao(ocupacao)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>                                         
              </td>
              <td>
                  <button type="button" class="btn btn-success" (click)="editOcupacao(ocupacao)">                                    
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>                      
              </td>                  
            </tr>                   
        </tbody>
    </table>      

</div>