<div class="alert alert-success" role="alert" *ngIf="sucesso">
    Vaga inserida com sucesso!
    <br />
</div>
<form novalidate (ngSubmit)="onSubmit(addForm)" [formGroup]="addForm"> 
    <h4> Nova Vaga </h4>     
    <div class="form-group">  
        <label for="id">Id</label>
        <input type="text" class="form-control" placeholder="id" formControlName="id" name="id" id="id"> 
    </div>  
    <div class="form-group">  
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="nome" formControlName="nome" name="nome" id="nome" > 
    </div>  
    <div class="form-group">  
        <label for="valor">Status (O - Ocupada / D - Desocupada)</label>
        <input type="text" class="form-control" placeholder="status" formControlName="status" name="status" id="status"> 
    </div>  
    <div>           
          <button type="Cancel" class="btn btn-danger">Cancelar</button> 
          <button type="submit" class="btn btn-primary">Gravar</button>          
    </div>      
</form>  